<a
  class="shadow-2xl inline-block rounded-xl transition-transform duration-300 hover:-translate-y-2 hover:scale-105 w-full h-full"
  [routerLink]="'/Movie/' + movieItem?.title + '/' + movieItem?.id"
>
  <img
    class="rounded-t-xl shadow-2xl w-full aspect-[2/3]"
    [src]="'https://image.tmdb.org/t/p/w342/' + movieItem?.poster_path"
    [alt]="movieItem?.title"
  />
  <div class="flex flex-col items-center">
    <p
      class="text-center font-bold truncate h-[24px] w-full"
      [title]="movieItem?.title"
    >
      {{ movieItem?.title }}
    </p>
    <p class="h-[24px]">
      {{ movieItem?.vote_average | number: "1.1-1" }}
    </p>
  </div>
</a>
